In [66]:
import pandas as pd

In [67]:
FILEPATH = "data/stock_data.csv"

df = pd.read_csv(
    FILEPATH,
    parse_dates=["Date"],
)

In [ ]:
df.iloc[:5]
# df.head()

        Date   Close    Volume     Open      High       Low
0 2025-03-07  239.07  46273570  235.105  241.3700  234.7600
1 2025-03-06  235.33  45170420  234.435  237.8600  233.1581
2 2025-03-05  235.74  47227640  235.420  236.5500  229.2300
3 2025-03-04  235.93  53798060  237.705  240.0700  234.6800
4 2025-03-03  238.03  47183990  241.790  244.0272  236.1120

In [69]:
df.isnull().sum()

Date      0
Close     0
Volume    0
Open      0
High      0
Low       0
dtype: int64

In [82]:
# df.insert(df.shape[1], "Daily Return", df["Close"] - df["Open"])
# df.insert(df.shape[1], "Cumulative Return", df["Daily Return"]/df["Open"])

df["Daily Return"] = df["Close"].pct_change()
df["Cumulative Return"] = (1 + df["Daily Return"]).cumprod() - 1

In [86]:
df.head()

,Date,Close,Volume,Open,High,Low,Daily Return,Cumulative Return
0,2025-03-07,239.07,46273570,235.105,241.3700,234.7600,NaN,NaN
1,2025-03-06,235.33,45170420,234.435,237.8600,233.1581,-0.015644,-0.015644
2,2025-03-05,235.74,47227640,235.420,236.5500,229.2300,0.001742,-0.013929
3,2025-03-04,235.93,53798060,237.705,240.0700,234.6800,0.000806,-0.013134
4,2025-03-03,238.03,47183990,241.790,244.0272,236.1120,0.008901,-0.004350

In [89]:
# print(df.groupby([pd.Grouper(freq="YE", key="Date")])[["Close"]].mean())
# print(df.groupby([pd.Grouper(freq="ME", key="Date")])[["Volume"]].sum())

df.set_index("Date", inplace=True)

print(df["Close"].resample("YE").mean())
print(df["Volume"].resample("ME").sum())

Date
2024-12-31    212.411902
2025-12-31    236.536364
Freq: YE-DEC, Name: Close, dtype: float64
Date
2024-03-31     966326440
2024-04-30    1246221580
2024-05-31    1336570170
2024-06-30    1723984500
2024-07-31    1153193400
2024-08-31    1122667050
2024-09-30    1232391900
2024-10-31     930835970
2024-11-30     891640720
2024-12-31     977942040
2025-01-31    1200291580
2025-02-28     862317020
2025-03-31     239653680
Freq: ME, Name: Volume, dtype: int64

In [90]:
print(df["Daily Return"].mean())
print(df["Daily Return"].std())

-0.001197083401224487
0.0149906944956409