In [1]:
import pandas as pd

data = {
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
'Age': [24, 27, 22, 32, 29],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
'Score': [85, 90, 88, 92, 95]
}
df = pd.DataFrame(data)

In [2]:
name_city = df.loc[:, ['Name', 'City']]
print(name_city)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
4      Eve      Phoenix

In [3]:
three_name_score = df.iloc[:3, [0, 3]]
print(three_name_score)

      Name  Score
0    Alice     85
1      Bob     90
2  Charlie     88

In [4]:
odd_rows = df.iloc[lambda x: x.index % 2 == 1 ]
print(odd_rows)

    Name  Age         City  Score
1    Bob   27  Los Angeles     90
3  David   32      Houston     92

In [5]:
chicago_houston = df.loc[(df['City'] == 'Chicago') | (df['City'] == 'Houston')]
print(chicago_houston)

      Name  Age     City  Score
2  Charlie   22  Chicago     88
3    David   32  Houston     92

In [6]:
score_above_ninety = df.loc[df['Score'] > 90, ['Name', 'Score']]
print(score_above_ninety)

    Name  Score
3  David     92
4    Eve     95

In [7]:
last_two_rows = df.iloc[-2:, [1, 2]]
print(last_two_rows)

   Age     City
3   32  Houston
4   29  Phoenix